/* app global css */

.centered-column {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 30px;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.centered-row {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.notification-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notify-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notify-item {
    width: 100%;
    background-color: var(--q-secondary);
    padding: 5px 10px;
    border-bottom: 1px solid var(--q-primary);
}
